pandas>=2.0
plotly>=5.0
duckdb>=1.0
networkx>=3.0
PyYAML>=6.0
loguru>=0.7
numpy>=1.26
lmdb>=1.4
scipy>=1.10
psycopg2-binary>=2.9
sqlalchemy>=2.0
streamlit==1.39.0
requests==2.32.3
streamlit-agraph==0.0.45
st-cytoscape>=0.0.5
